Repository nikitastepano/newmoviesapp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format

Updates
  assets/index-CAbAasNB.js
  assets/index-DGXRZATH.css
  iconPage.png
  index.html
  noImage.png
Due: npm run lint:fix, npm run format

fix
  vite.config.js
Due: npm run lint:fix, npm run format

Updates
  index.html
Due: npm run format

rep
  src/components/App/App.jsx
  src/components/MoviesItem/MoviesItem.jsx
  src/components/MoviesList/MoviesList.jsx
Due: npm run lint:fix, npm run format

Updates
  assets/index-CAbAasNB.js
  assets/index-KIPJlkil.js
  index.html
Due: npm run lint:fix, npm run format

Update README.md
  README.md
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,jsx}
  npm run format: (any of: *.{js,jsx}) or (any of: *.{json,html})
